* {
  background-color: #151650;
  color: white;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header {
  display: flex;
  justify-content: space-between;
  height: 70px;
  align-items: center;
  font-size: 1.5em;
  width: 100%;
  width: 1238px;
  align-items: flex-start;
  margin: 0 auto;
}
.text {
  font-size: 2em;
}
.button-nav {
  display: flex;
  justify-content: space-between;
}
ul,
li,
a {
  text-decoration: none;
}
.button:nth-of-type(1) {
  height: 50px;
  padding: 5px;
  cursor: pointer;
  border: 1px solid #94f7f1;
  border-radius: 5%;
}
.button {
  height: 50px;
  padding: 5px;
  cursor: pointer;
  border: 1px solid #94f7f1;
  border-radius: 5%;
  font-size: 0.5em;
  width: 100px;
}
.button:hover {
  background-color: #9bf39d;
  transition: 1s ease-in-out all;
}
.textMain {
  text-align: center;
  margin-top: 2%;
  font-size: 3em;
}
.mainCategories {
  margin: 0 auto;
}
.uppCat {
  display: flex;
  width: 1238px;
  margin: 0 auto;
  justify-content: center;
  height: 15vh;
  margin-top: 2%;
}
li {
  list-style-type: none;
  text-align: center;
  cursor: pointer;
  margin-right: 10%;
}
.container {
  width: 1238px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  height: 20vh;
  text-align: center;
}
.cat {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin: 0 auto;
  align-items: center;
  height: 100px;
}
.liCat {
  display: flex;
}
.center {
  width: 1238px;
  display: flex;
  align-items: center;
  margin: 0 auto;
  flex-wrap: wrap;
}
.promote {
  margin-top: 10%;
}
.promOg {
  margin-left: 15px;
  margin-top: 15px;
  margin-bottom: 15px;
  height: 320px;
  width: 290px;
  border: 1px solid black;
}
.about {
  flex-direction: column;
  margin-top: 10px;
}
.about ul {
  flex-direction: row;
  display: flex;
}
.footer {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 5vh;
  background-color: #2e365d;
  position: fixed;
  bottom: 0;
  width: 100%;
  clear: both;
}
.subCat {
  display: none;
}
.show {
  display: block;
}
.mainViewLi {
  width: 1238px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  flex-wrap: wrap;
  text-decoration: none;
}
.mainView {
  border: 1px solid black;
  height: 183.5px;
  width: 1238px;
  margin-bottom: 0.5%;
  text-decoration: none;
  display: flex;
  justify-content: space-between;
}
h2 {
  text-decoration: none;
}
.price {
  margin-top: 4%;
}
.hide {
  display: none;
}
.product {
  width: 1238px;
  margin: 0 auto;
}
.none {
  text-decoration: none;
}

/* Form */
.login-box {
  position: absolute;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
  width: 700px;
  height: 130%;
  margin-top: 90px;
  padding: 40px;
  box-sizing: border-box;
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.6);
  border-radius: 10px;
}
textarea {
  resize: none;
  margin-top: 50px;
  margin-bottom: 90px;
}
.login-box h2 {
  margin: 0 0 30px;
  padding: 0;
  color: #fff;
  text-align: center;
  background-color: #151650;
}

.login-box .user-box {
  position: relative;
  height: 40px;
  width: 100%;
  margin-top: 39px;
}

.login-box .user-box input {
  width: 100%;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  height: 50px;
  margin-bottom: 50px;
  border: none;
  border-bottom: 1px solid #fff;
  outline: none;
  background: transparent;
}
.login-box .user-box select {
  margin-top: 40px;
}
.login-box .user-box label {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  margin-bottom: 20px;
  height: 30px;
  padding: 10px 0;
  margin-top: 5px;
  font-size: 16px;
  color: #fff;
  pointer-events: none;
  transition: 0.5s;
  background-color: #151650;
}

.login-box .user-box input:focus ~ label,
.login-box .user-box input:valid ~ label {
  top: -20px;
  left: 0;
  color: #03e9f4;
  font-size: 12px;
}

.login-box form button {
  position: relative;
  display: inline-block;
  padding: 10px 20px;
  color: #03e9f4;
  font-size: 16px;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
  transition: 0.5s;
  margin-top: 40px;
  letter-spacing: 4px;
}

.login-box button:hover {
  background: #03e9f4;
  color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 5px #03e9f4, 0 0 25px #03e9f4, 0 0 50px #03e9f4,
    0 0 100px #03e9f4;
}

.login-box button span {
  position: absolute;
  display: block;
}

.login-box button span:nth-child(1) {
  top: 0;
  left: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg, transparent, #03e9f4);
  animation: btn-anim1 1s linear infinite;
}

@keyframes btn-anim1 {
  0% {
    left: -100%;
  }
  50%,
  100% {
    left: 100%;
  }
}

.login-box button span:nth-child(2) {
  top: -100%;
  right: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(180deg, transparent, #03e9f4);
  animation: btn-anim2 1s linear infinite;
  animation-delay: 0.25s;
}

@keyframes btn-anim2 {
  0% {
    top: -100%;
  }
  50%,
  100% {
    top: 100%;
  }
}

.login-box button span:nth-child(3) {
  bottom: 0;
  right: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(270deg, transparent, #03e9f4);
  animation: btn-anim3 1s linear infinite;
  animation-delay: 0.5s;
}

@keyframes btn-anim3 {
  0% {
    right: -100%;
  }
  50%,
  100% {
    right: 100%;
  }
}

.login-box button span:nth-child(4) {
  bottom: -100%;
  left: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(360deg, transparent, #03e9f4);
  animation: btn-anim4 1s linear infinite;
  animation-delay: 0.75s;
}

@keyframes btn-anim4 {
  0% {
    bottom: -100%;
  }
  50%,
  100% {
    bottom: 100%;
  }
}
.addProd {
  display: flex;
  justify-content: space-between;
}
.error {
  margin-bottom: 20px;
  color: red;
}
.centerBut {
  margin-top: 200px;
  margin-bottom: 60px;
  margin-left: 70px;
}
.midBut {
  display: flex;
  align-self: flex-end;
  justify-content: center;
}
.picProd {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: flex-start;
}
.done {
  text-align: center;
  line-height: 25px;
  position: fixed;
  background-color: #9bf39d;
  height: 75px;
  width: 150px;
  right: 1px;
  top: 1px;
  z-index: 999;
}
.product {
  border: 1px solid black;
}
.product h1 {
  text-align: center;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}

@keyframes rotate {
  100% {
    transform: rotate(1turn);
  }
}

.rainbow {
  position: relative;
  z-index: 0;
  border-radius: 10px;
  overflow: hidden;
  padding: 2rem;
}
.rainbow::before {
  content: "";
  position: absolute;
  z-index: -2;
  left: -50%;
  top: -50%;
  width: 200%;
  height: 200%;
  background-color: #b3ea0e;
  background-repeat: no-repeat;
  background-size: 50% 50%, 50% 50%;
  background-position: 0 0, 100% 0, 100% 100%, 0 100%;
  background-image: linear-gradient(#b3ea0e, #b3ea0e),
    linear-gradient(#fcb04e, #fcb04e), linear-gradient(#ff3232, #ff3232),
    linear-gradient(#3366ff, #3366ff);
  animation: rotate 4s linear infinite;
}

.rainbow::after {
  content: "";
  position: absolute;
  z-index: -1;
  left: 6px;
  top: 6px;
  width: calc(100% - 12px);
  height: calc(100% - 12px);
  border-radius: 5px;
}
